<a href="https://colab.research.google.com/github/GuilhermeAndradedePaula/TFMCtest/blob/main/DESAFIO_I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DESAFIO 0

The period between 1970 and 1982 marked a significant shift in the United States car industry. American production shifted from heavy, powerful six- and eight-cylinder cars with poor gas mileage to lighter, less powerful, four-cylinder cars with higher fuel efficiency. The global auto industry–including Americans and their European and Japanese competitors–raised overall miles per gallon (MPG) by focusing on four-cylinder cars and making them more fuel efficient.

In [ ]:
import pandas as pd

## Faça a leitura inicial dos dados e explore suas informações, estude seus tipos, sua forma e apresente uma análise inicial das medidas de dispersão de seus atributos.

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/abnr/ml-data/main/auto_industry.csv')
data.head()

    mpg  cylinders  displacement  ...  model_year  origin                       name
0  18.0          8         307.0  ...          70     usa  chevrolet chevelle malibu
1  15.0          8         350.0  ...          70     usa          buick skylark 320
2  18.0          8         318.0  ...          70     usa         plymouth satellite
3  16.0          8         304.0  ...          70     usa              amc rebel sst
4  17.0          8         302.0  ...          70     usa                ford torino

[5 rows x 9 columns]

## Procure por valores faltantes nas colunas do dataframe e faça as substituições mais razoáveis.

## Calcule quantos modelos foram lançados em anos pares

## Crie uma coluna para a marca do veículo e outra para o nome

## É posível identificar alguma relação entre mpg e acceleration?

## Explore as variáveis da tabela agrupando pelo país de origem. Existe diferenças entre elas?

## Remova os elementos duplicados e crie uma tabela de consumo em (Km/L), altere os nomes dos países de origem para que todos comecem com letras maiúsculas.

## Use a função [pivot_table()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html) para criar uma tabela dinâmica que calcule a média do consumo (miles/galon) `'mpg'`. Divida o dataframe em ano de modelo `'model_year'` e número de cilindros `'cylinders'`. Descreva os resultados.

## Agrupe o dataframe por origem  `'origin'` e número cilindros `'cylinders'` e calcule a média da potência `'horsepower'` dos carros fabricados.

## Verifique como consumo, horsepower e cylinders se altera ao longo dos anos para cada país da coluna origin.

## Crie uma nova coluna com o continente dos países baseado na coluna `origin`

# Bônus - estatística

# Apresente a centralidade, dispersão e distribuição das variáveis

## Gere matriz e gráfico de correlação

# Bonus - DataViz

## Gere gráficos de boxplots para todos os elementos numéricos do dataframe.

## Crie uma nova coluna com a relação peso/potência para cada veículo e plote um gráfico de dispersão dessa coluna com a de consumo